h1 {
    background-image: url(pattern.jpeg);

    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: 100px;
    color: burlywood;
    min-height: 200px;
    width: 100%;
    margin-top: 0px;
    
}

main{

}

#brush {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-family: Helvetica;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#frame {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h2 {
    width: 80%;
}
p {
    width: 80%;
}